.scrollSlider {
  // overflow-x: auto;
  overflow: hidden;
  .slide-wrapper {
    // .ScrollbarsCustom-Content {
    //   display: inline-flex;
    //   list-style: none;
    //   margin: 0;
    //   display: grid;
    //   grid-auto-flow: column;

    //   scroll-snap-type: x mandatory;
    //   -webkit-overflow-scrolling: touch;
    //   scroll-snap-align: center;
    //   cursor: grab;
    //   li {
    //     scroll-snap-align: center;
    //     scroll-snap-type: x mandatory;
    //   }
    // }
    li {
      scroll-snap-align: start;
      scroll-snap-type: x mandatory;
      padding: 1em 0;
    }

    list-style: none;
    margin: 0;
    display: flex;
    grid-auto-flow: column;
    overflow: hidden;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-snap-align: start;
    cursor: grab;

    &:active {
      cursor: grabbing; /* 2 */
    }

    &::-webkit-scrollbar {
    }
  }

  .dragSliderNavs {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;

    i {
      cursor: pointer;
      font-size: 25px;
      background-color: #c29f24;
      color: white;
      margin: 0 2px;
      padding: 2px 8px;
    }

    :first-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    :last-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .scroll-option {
    > div {
      visibility: hidden;
    }
  }
  &:hover {
    .scroll-option {
      > div {
        visibility: visible;
      }
    }
  }
}
.scroll-option {
  height: 0.5rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 1em 0;
  > div {
    width: 100%;
    position: relative;
    height: 100%;
    > div {
      position: absolute;
      background-color: rgb(61, 60, 60);
      height: 100%;
      width: 20vw;
      // 470
      border-radius: 0.5rem;
      transition: all 0.3s linear;
      cursor: grab;
    }
  }
}
