.albums-container {
  display: flex;
  margin: auto;
  // margin: 0 1.25em;
  z-index: 4;
  position: absolute;
  width: 100%;
  // box-sizing: border-box;
  padding: 2rem 1.25rem;
  // margin-top: 2.313em;/
  right: 0;
  left: 0;
  .albums-header-wrappper {
    display: flex;
    width: 100%;
    align-items: start;

    h1 {
      flex: 1;
      font-size: 1.563em;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .albums-nav {
      display: flex;
      flex: 1;

      button {
        align-self: flex-end;
        justify-content: end;
        i {
          font-size: 25px;
        }
      }

      li {
        color: #888888;
        margin-inline-start: 1.125em;
        min-width: 130px;
        position: relative;
        .title-wrapper {
          background-color: #fff;
          border: solid 1px #f0f0f0;
          transition: 0.3s ease-in-out;
          margin: unset !important;
          &:focus {
            background-color: #f1f1f1;
          }

          &:hover {
            cursor: pointer;
            background-color: #f0f0f0;
            // transition: 0.3s ease-in-out;
            span {
              color: #0070ef;
              transition: 0.5s ease-in-out;
            }
          }
          &:focus span {
            color: #0070ef;
          }
          display: flex;
          align-items: center;
          white-space: nowrap;
          span {
            text-transform: capitalize;
            font-weight: 400;
            padding: 0.23em;
            padding-inline-start: 0.563em;
            font-size: 1.125em;
          }
          i {
            font-size: 1em;
            color: #0070ef;
            margin-inline-start: auto;
            padding-inline-end: 1em;
          }
        }
        .drop-down-wrapper {
          //   background-color: red;
          position: absolute;
          transform: scaleY(0);
          transform-origin: top;
          transition: 0.3s ease-in-out;
          border: solid 1px #f0f0f0;
          background-color: #fff;
          z-index: 7;

          li {
            text-transform: capitalize;
            font-size: 1em;
            font-weight: 300;
            margin: 0;
            cursor: pointer;
            line-height: 20px;
            padding: 0.313em 0;
            padding-inline-start: 0.875em;
            z-index: 5;
            &:first-child {
              //   margin-top: 0.625em;
              margin-top: 0.188em;
            }

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }
      }
    }
  }
}

.drp {
  .title-wrapper {
    background-color: #f1f1f1 !important;
    margin: unset !important;
    span {
      color: #0070ef;
    }
  }
  .drop-down-wrapper {
    transform: scaleY(1) !important;
    transition: 0.3s ease-in-out;
  }
}

.drp-deactive {
  .drop-down-wrapper {
    transform: scaleY(0) !important;
    transition: 0.3 ease-in-out;
  }
}

.active {
  color: #444444 !important;
  font-weight: 500 !important;
}
