.genre-main-container {
  .newRelease-wrapper {
    margin-top: 1.681rem;
    h1 {
      margin: 0;
      margin-inline-start: 1.375rem;
      color: #333;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 13px;
    }
  }
}
