.about-title {
  position: relative;
  align-items: center;
  display: flex;
  .btns-container {
    position: absolute;
    left: 0;
    > a {
      padding: 0.4em 2em 0.4em;
    }
  }
}
.card-details-row textarea {
  width: 100%;
  height: 3em;
  padding: 5px 10px;
}
