.main-head {
  padding: 1em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  > div {
    margin: 0 1em;
  }
  .addImageBtn {
    font-size: 0.9em;
    vertical-align: middle;
  }
}
.show-image-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  > img {
    width: 10vw;
    margin: 2em;
  }
}
