.play-Card-container.videoCard {
  // width: 26rem;
  // height: 16rem;
  // margin: 0 1.25rem;
  // margin-inline-start: 0;
  .play-Card-wrapper {
    padding: 0 1.25rem;
    padding-inline-start: 0;
    .imageCard-top {
      .video-card-options {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        padding: 0.5rem;
        transition: all 0.3s linear;
        filter: brightness(0.8);
        // background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 5;
        opacity: 0;
        // overflow: hidden;
      }
    }
    &:hover {
      transition: all 0.3s linear;

      .video-card-options {
        filter: brightness(0.8);
        opacity: 1 !important;
      }
    }
  }

  .icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    svg {
      width: 1.5625em;
      height: 1.5625em;
    }
    i {
      font-size: 1.5rem;
    }
  }

  // &:hover {
  //   .video-card-options {
  //     * > {
  //       opacity: 1 !important;
  //     }
  //   }
  // }
}
.video-card-options.centerAll {
  top: 0;
}

@media (min-width: 992px) {
  .play-Card-container.videoCard.col-lg-3 {
    -ms-flex: 0 0 28.593%;
    flex: 0 0 28.593%;
    max-width: 28.593%;
  }
}
@media (max-width: 425px) {
  .play-Card-container.videoCard {
    .video-card-options {
      a {
        opacity: 1 !important;
      }
    }
  }
}
@media (max-width: 375px) {
  .play-Card-container.videoCard.col-8 {
    -ms-flex: 0 0 76.715%;
    flex: 0 0 76.715%;
    max-width: 76.715%;
  }
}
