.dropdown {
  > a {
    width: 50%;
    display: block;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
  }
  .list-unstyled {
    > a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
.dropdown-menu.show {
  overflow: auto;
}
