.genre-container {
  padding-top: 5.977rem;
  .title-wrapper {
    margin-inline-start: 1.494rem;
    display: flex;
    margin: unset !important;
    > li {
      &:nth-child(2) i {
        font-size: 0.996rem;
        background: #0070e7;
        border-radius: 50%;
        color: #fff;
        padding: 0.747rem 0.747rem 0.747rem 0.871rem;
      }
      h1 {
        font-size: 1.867rem;
        font-weight: bold;
        margin-inline-end: 4.545rem;
      }
      i {
        font-size: 2.179rem;
        margin-inline-start: 1.813rem;
        color: #888888;
        cursor: pointer;
      }
    }
  }
  .categories-wrapper {
    margin-inline-start: 1.494rem;

    display: flex;
    margin-top: 2.615rem;
    li {
      color: #999999;
      margin-inline-end: 2.739rem;
      font-size: 1.245rem;
      text-transform: capitalize;
      cursor: pointer;
      position: relative;
      transition: 0.3s ease-in-out;
      user-select: none;

      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 0;
        height: 3px;
        background-color: #0070e7;
        transition: 0.3s ease-in-out;
      }
    }
    .active-class {
      color: #000 !important;
      position: relative;
      transition: 0.3s ease-in-out;

      &:before {
        content: "";
        width: 100%;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
