.icon-wrapper {
  // padding: 1rem;
  border-radius: 100%;
  transition: all 0.2s linear;
  background-color: rgba($color: #333333, $alpha: 0.7);
  bottom: 1.5rem;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  left: 1rem;
  padding: 0.657rem;
  cursor: pointer !important;
  &:hover {
    transition: all 0.2s linear;

    background-color: #333333;
  }
  svg {
    width: 0.9375rem;
    height: 0.9375rem;
  }
  i.fa-heart {
    font-size: 0.875rem;
  }
  i.fa-play {
    font-size: 0.875rem;
  }
}

// .play-pause-feedback {
//   width: 70px;
//   height: 70px;
//   border-radius: 10rrem;
//   background-color: rgba(0, 0, 0, 0.5);
//   position: absolute;
//   top: 50%;
//   right: 50%;
//   -webkit-transform: translate(50%, -50%);
//   transform: translate(50%, -50%);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 25px;
//   direction: ltr;
//   .romeo .play-pause-feedback svg {
//     position: relative;
//     left: 17px;
//     top: 17px;
//     width: 36px;
//     height: 36px;
//   }
// }
