// .icon-wrapper {
//   // position: absolute;
//   // padding: 1rem;
//   border-radius: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   bottom: 1.5rem;
//   color: white;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -ms-flex-align: center;
//   align-items: center;
//   left: 1rem;
//   width: 3rem;
//   height: 3rem;
//   cursor: pointer !important;
//   &:hover {
//     background-color: black;
//   }
//   // svg {
//   //   width: 1rem;
//   //   height: 1rem;
//   // }
// }
