@mixin transition($time, $linear) {
  transition: all $time $linear;
  -webkit-transition: all $time $linear;
  -moz-transition: all $time $linear;
  -o-transition: all $time $linear;
  -ms-transition: all $time $linear;
}
@mixin active($name, $key, $value) {
  $name: $key($value);
  $-webkit-name: $key($value);
  $-moz-name: $key($value);
  $-o-name: $key($value);
  $-ms-name: $key($value);
}

.panelAdmin-main-container {
  margin-top: 5rem;
  margin-right: var(--sideMenuWidth);
  width: calc(100vw - var(--sideMenuWidth));
  height: calc(100vh - 5rem);
  overflow: hidden auto;
  position: relative;
  .spinner {
    margin-left: 40%;
  }
}
.WebSite-main-container {
  height: 100%;
}
.web-container {
  width: 90%;
  margin: auto;
}
.show-modal-icon-value {
  background-color: var(--redColor);
  padding: 0.35rem 0.5rem;
  border-radius: 100%;
  color: white !important;
  font-size: 1rem;
}
.pointer {
  cursor: pointer;
}
.hoverColorblack:hover {
  color: black;
}
.App-link {
  color: #61dafb;
}
.countainer-main {
  width: 100%;
  height: calc(100vh - 4.2rem);
  position: relative;
  display: flex;
  flex-direction: column;
}
.normalTransition {
  transition: all 0.3s linear;
}
.showOutStatic {
  height: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}
.btns {
  margin: 6px 3px;
  font-size: 1rem;
  border-radius: 0.4167rem;
  font-weight: 500;
  padding: 0.5rem 1.13rem;
  box-shadow: none;
  user-select: none;
  color: white !important;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    -webkit-box-shadow: var(--boxShadowLow);
    box-shadow: var(--boxShadowLow);
  }
}
.btns-primary {
  background-color: var(--prymaryColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--blueLight3);
  }
}
.btns-primary.btns-gradient {
  background: var(--blueLight);
  background: -webkit-linear-gradient(-45deg, var(--blueLight), var(--blueLight2));
  background: -webkit-linear-gradient(315deg, var(--blueLight), var(--blueLight2));
  background: -o-linear-gradient(315deg, var(--blueLight) 0, var(--blueLight2) 100%);
  background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
}
.btns-warning {
  background-color: var(--warningColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--warningColorHover);
  }
}
.btns-success {
  background-color: var(--successColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--successColorHover);
  }
}
.btns-danger {
  background-color: var(--dangerColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--dangerColorHover);
  }
}
.btns-add {
  background-color: var(--addColor);
  @include transition(0.2s, linear);
  &:hover {
    background-color: var(--addColorHover);
  }
}
.transition0-2 {
  @include transition(0.2s, linear);
}
.transition0-3 {
  @include transition(0.3s, linear);
}
.transition0-4 {
  @include transition(0.4s, linear);
}
.transition0-5 {
  @include transition(0.5s, linear);
}
.transition0-6 {
  @include transition(0.6s, linear);
}
.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxShadow {
  box-shadow: var(--boxShadowLow);
}
.positionABS {
  position: absolute;
}
.bold {
  font-weight: 900;
}

.fontSize2em {
  font-size: 2rem;
}
.priceColor {
  color: #1b9090;
}
.show-card-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  .scrollbar-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ScrollbarsCustom-Content {
    display: flex;
    flex-wrap: wrap;
  }
}
.marginRAouto {
  margin-right: auto;
}
.marginR1em {
  margin-right: 1rem !important;
}
.height100vh {
  height: 100vh;
}
.heightUnset {
  height: unset;
}
.width100 {
  width: 100%;
}
.width85 {
  width: 85%;
}
.tableMainStyle {
  width: 98%;
}
.noSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.noEvent {
  pointer-events: none;
}
.disColumn {
  display: flex;
  flex-direction: column;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.jusCenter {
  display: flex;
  justify-content: center;
}
.borderSolid {
  border: 1px solid;
}
.disFlex {
  display: flex;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.Rotate180 {
  transform: rotate(180deg);
  @include active(transform, rotate, 180deg);
  @include transition(0.6s, linear);
}
.relative {
  position: relative;
}
