.show-card-elements {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // margin: 1em 0;
  // justify-content: space-between;
  // min-height: 70vh;
}
.subjectModal-box {
  .show-card-elements {
    overflow: auto;
    height: 68vh;
  }
  .ScrollbarsCustom-Content {
    display: flex;
    flex-wrap: wrap;
  }
}
