.relative {
  position: relative;
  .box-elements {
    display: flex;
    > input {
      border-radius: 0 0.3em 0.3em 0;
    }
    > span {
      display: flex;
      align-items: center;
      font-size: 2em;
      color: white;
      background-color: #003265;
      cursor: pointer;
    }
    .modalClendar {
      position: absolute;
      top: -10em;
      .Calendar {
        font-size: 10px;
      }
    }
  }
}
.convert-date-title {
  width: 100%;
  background-color: blue;
  font-size: 2em;
  text-align: center;
  padding: 0.5em 0;
  color: white;
  cursor: pointer;
}
@media (max-width: 600px) {
  .modalClendar {
    position: absolute;
    top: -10em;
    .Calendar {
      font-size: 5px !important;
    }
  }
}
